<template>
    <div>
        <div class="flex flex-wrap justify-between pt-12 -mx-6">

            <div v-for="(post,index) in posts" :key="`__post_${index}`" :class="`w-full md:w-${post.tail} p-6 flex flex-col flex-grow flex-shrink`">
                <PostPreview
                    :id="post.id"
                    :title="post.title"
                    :description="post.description"
                    :thumbnail="`https://source.unsplash.com/collection/${post.thumbnail}/800x600`"
                    :userImg="post.userImg"
                    :timeToRead="post.timeToRead"
                    :tail="post.tail"
                >
                </PostPreview> 
            </div>

        </div>
    </div>
</template>


<script>
import PostPreview from '~/components/PostPreview.vue'

export default {
  name : 'PostList',
  components: {
    PostPreview
  },
  data(){
      return {
          posts: [],
          allPosts: [
              { tail:'1/3', id:'1', title:'Lorem ipsum dolor sit amet.', description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.', thumbnail:'225', userImg:'http://i.pravatar.cc/300', timeToRead:'1 MIN READ' },
              { tail:'1/3', id:'2', title:'Lorem ipsum dolor sit amet.', description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.', thumbnail:'3106804', userImg:'http://i.pravatar.cc/300', timeToRead:'1 MIN READ' },
              { tail:'1/3', id:'3', title:'Lorem ipsum dolor sit amet.', description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.', thumbnail:'3657445', userImg:'http://i.pravatar.cc/300', timeToRead:'1 MIN READ' },
              { tail:'1/2', id:'4', title:'Lorem ipsum dolor sit amet.', description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.', thumbnail:'764827', userImg:'http://i.pravatar.cc/300', timeToRead:'1 MIN READ' },
              { tail:'1/2', id:'5', title:'Lorem ipsum dolor sit amet.', description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.', thumbnail:'1118905', userImg:'http://i.pravatar.cc/300', timeToRead:'1 MIN READ' },
              { tail:'1/3', id:'6', title:'Lorem ipsum dolor sit amet.', description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.', thumbnail:'325867', userImg:'http://i.pravatar.cc/300', timeToRead:'1 MIN READ' },
              { tail:'1/3', id:'7', title:'Lorem ipsum dolor sit amet.', description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.', thumbnail:'3106804', userImg:'http://i.pravatar.cc/300', timeToRead:'1 MIN READ' },
              { tail:'1/3', id:'8', title:'Lorem ipsum dolor sit amet.', description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.', thumbnail:'764827', userImg:'http://i.pravatar.cc/300', timeToRead:'1 MIN READ' } 
          ],
          lastPosts: [
              { tail:'1/2', id:'5', title:'Lorem ipsum dolor sit amet.', description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.', thumbnail:'1118905', userImg:'http://i.pravatar.cc/300', timeToRead:'1 MIN READ' },
              { tail:'1/2', id:'6', title:'Lorem ipsum dolor sit amet.', description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.', thumbnail:'325867', userImg:'http://i.pravatar.cc/300', timeToRead:'1 MIN READ' },
              { tail:'1/2', id:'7', title:'Lorem ipsum dolor sit amet.', description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.', thumbnail:'3106804', userImg:'http://i.pravatar.cc/300', timeToRead:'1 MIN READ' },
              { tail:'1/2', id:'8', title:'Lorem ipsum dolor sit amet.', description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.', thumbnail:'764827', userImg:'http://i.pravatar.cc/300', timeToRead:'1 MIN READ' } 
          ]
      }
  },
  props: {
      type: {
          type: String,
          required: true
      }
  },
  mounted(){
      if(this.type == 'all'){
          this.posts = this.allPosts;
      }else if(this.type == 'last'){
          this.posts = this.lastPosts;
      }
  }
}
</script>