<template>
    <div>
        <p class="text-white font-extrabold text-3xl md:text-5xl">POSTS</p>
        
        <PostList type="all" />

    </div>
</template>

<script>
import PostList from '~/components/PostList.vue'

export default {
  components: {
    PostList
  },
  data(){
      return {
          
      }
  }
}
</script>
