<template>
  <div>
    <p class="text-white font-extrabold text-3xl md:text-5xl">ABOUT</p>

    <p class="text-2xl">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat nisi illum laboriosam vero nobis sunt ducimus velit, beatae doloribus quod modi sed dolor eveniet odio consequatur voluptas, dicta amet facere!
    </p>
  </div>
</template>
